body{
    background-image: url('./bgImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
    /* height: 46vh; */
    background-color: #fff;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.inputItem{
    width: 54%;
    height: 4vh;
    padding-left: 7px;
}
.buttonItem{
    margin-left: 3px;
    height: 4.8vh;
    border: 1px solid #ccc;
}
.itemLi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.itemLi_st{
    width: 70%;
    padding: 6px;
    font-family: sans-serif;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.itemLi_delete{
    color: red;
    padding-left: 26px;
}


@media only screen and (max-width: 480px) {
    .inputItem{
        width: 51%;
        height: 3.9vh;
    }
}